/*
 * based on
 * https://github.com/kristoferjoseph/flexboxgrid/blob/master/dist/flexboxgrid.css
 */

@value half-gutter-width, grid-columns from "../../constants/sizes.css";
@value sm-viewport, md-viewport, lg-viewport from "../../constants/breakpoints.css";

:root {
  --half-gutter-width: half-gutter-width;
  --grid-columns: 12;
}

@define-mixin viewport $size {
  &.$(size) {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  @for $i from 1 to 12 {
    &.$(size)-$i {
      flex-basis: calc( ($i / var(--grid-columns)) * 100%);
      max-width: calc( ($i / var(--grid-columns)) * 100%);
    }
  }

  @for $i from 0 to 12 {
    &.$(size)-offset-$i {
      margin-left: calc( ($i / var(--grid-columns)) * 100%);
    }
  }
}

.column {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: var(--half-gutter-width, 0.5rem);
  padding-left: var(--half-gutter-width, 0.5rem);

  &.reverse {
    flex-direction: column-reverse;
  }

  @mixin viewport xs;

  @media sm-viewport {
    @mixin viewport sm;
  }

  @media md-viewport {
    @mixin viewport md;
  }

  @media lg-viewport {
    @mixin viewport lg;
  }
}
