~boxes: "../../shared/constants.js";

:root {
  --border-checked: ~boxes.border.checked;
  --border-unchecked: ~boxes.border.unchecked;
}

.content {
  border: var(--border-unchecked);
  border-radius: 4px;
  cursor: pointer;
  padding: remcalc(36);

  & img {
    max-width: 100%;
  }
}

.input {
  display: none;
  visibility: hidden;

  &:checked {
    & ~ .content {
      border: var(--border-checked);
    }
  }

  &:disabled {
    & ~ .content {
      cursor: not-allowed;
      filter: grayscale(80%);
      opacity: 0.4;
    }
  }
}
