.content {
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  padding: remCalc(36);
  & img {
    max-width: 100%;
  }
}

.input {
  display: none;
  visibility: hidden;

  &:checked {
    & ~ .content {
      border: 1px solid #2532bb;
    }
  }
}
