{
  "sourceMaps": "both",
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      }
    }]
  ],
  "plugins": [
    "styled-components",
    "react-hot-loader/babel",
    "transform-es2015-modules-commonjs",
    "transform-exponentiation-operator",
    "syntax-async-functions",
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }],
    ["fast-async", {
      "runtimePatten": "directive",
      "compiler": {
        "promises": false,
        "es7": true,
        "lazyThenables": true
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-async-to-generator", [
          "transform-runtime", {
            "polyfill": false,
            "regenerator": false
          }
        ],
        ["babel-plugin-webpack-alias", {
          "config": "${CONFIG}"
        }]
      ]
    }
  }
}
