{
  "extends": [
    "semistandard",
    "eslint:recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "babel",
    "react",
    "jsx-a11y"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "jsx-quotes": [2, "prefer-single"],
    "comma-dangle": [2, "never"],
    "eol-last": [2, "always"],
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-deprecated": 2,
    "react/no-direct-mutation-state": 2,
    "react/no-find-dom-node": 2,
    "react/no-is-mounted": 2,
    "react/no-unknown-property": 2,
    "react/no-render-return-value": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/require-render-return": 2,
    "react/no-children-prop": 2,
    "react/no-danger": 2,
    "react/no-danger-with-children": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 0,
    "react/no-string-refs": 2,
    "react/no-unescaped-entities": 2,
    "react/no-unused-prop-types": 2,
    "react/prefer-stateless-function": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 2,
    "react/sort-prop-types": 2,
    "react/style-prop-object": 2,
    "react/jsx-boolean-value": [2, "never"],
    "react/jsx-closing-bracket-location": 2,
    "react/jsx-curly-spacing": [2, "never"],
    "react/jsx-equals-spacing": [2, "never"],
    "react/jsx-filename-extension": [2, {
      "extensions": [".js"]
    }],
    "react/jsx-first-prop-new-line": [2, "multiline"],
    "react/jsx-handler-names": 2,
    "react/jsx-indent": [2, 2],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-key": 2,
    "react/jsx-max-props-per-line": [2, {
      "maximum": 2
    }],
    "react/jsx-no-bind": 2,
    "react/jsx-no-comment-textnodes": 2,
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-target-blank": 2,
    "react/jsx-pascal-case": 2,
    "react/jsx-space-before-closing": 2,
    "react/jsx-wrap-multilines": 2,
    "jsx-a11y/anchor-has-content": 2,
    "jsx-a11y/href-no-hash": 2,
    "jsx-a11y/aria-props": 2,
    "jsx-a11y/aria-proptypes": 2,
    "jsx-a11y/aria-role": 2,
    "jsx-a11y/aria-unsupported-elements": 2,
    "jsx-a11y/click-events-have-key-events": 1,
    "jsx-a11y/mouse-events-have-key-events": 2,
    "jsx-a11y/heading-has-content": 2,
    "jsx-a11y/html-has-lang": 2,
    "jsx-a11y/img-has-alt": 2,
    "jsx-a11y/img-redundant-alt": 2,
    "jsx-a11y/label-has-for": 2,
    "jsx-a11y/lang": 2,
    "jsx-a11y/no-access-key": 2,
    "jsx-a11y/no-distracting-elements": 2,
    "jsx-a11y/no-onchange": 2,
    "jsx-a11y/no-static-element-interactions": 1,
    "jsx-a11y/onclick-has-focus": 2,
    "jsx-a11y/onclick-has-role": 2,
    "jsx-a11y/role-has-required-aria-props": 2,
    "jsx-a11y/role-supports-aria-props": 2,
    "jsx-a11y/scope": 2,
    "jsx-a11y/tabindex-no-positive": 2,
    "generator-star-spacing": 0,
    "space-before-function-paren": [2, "never"],
    "object-curly-newline": [2, {
      "minProperties": 1
    }],
    "sort-vars": 2,
    "prefer-const": 2,
    "no-mixed-spaces-and-tabs": 2,
    "new-cap": 2,
    "no-use-before-define": [2, "nofunc"],
    "semi": [2, "always"],
    "camelcase": 2,
    "curly": 2,
    "eqeqeq": 2,
    "no-extend-native": 2,
    "indent": [2, 2, {
      "SwitchCase": 1
    }],
    "quotes": [2, "single"],
    "max-depth": [2, 3],
    "max-statements": [2, 60],
    "max-len": [2, 80],
    "no-eq-null": 2,
    "block-scoped-var": 2,
    "no-console": 0
  }
}
