/*
 * - This can probably be achieved with flexbox so that we don't use any
 * margins or paddings
 * - We shouldn't use #FFFFFF but a variation of it to have less contrast
 */

~boxes: "../../shared/constants.js";
~colors: "../../shared/constants.js";

:root {
  --background-confirmed: ~colors.confirmation;
  --border-confirmed: ~boxes.border.confirmed;
  --border-unchecked: ~boxes.border.unchecked;
  --border-radius: remcalc(~boxes.borderRadius);
  --bottom-shaddow: ~boxes.bottomShaddow;
}

.tgl {
  border-radius: var(--border-radius);
  color: #464646;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  height: 2.5rem;
  width: 110px;
}

.label {
  background-color: #E6E6E6;
  border: solid 1px #D8D8D8;
  border-radius: var(--border-radius);
  color: #000000;
  height: remcalc(54);
  margin: 0.125rem;
  padding: remcalc(12 12 12 0);
  position: relative;
  text-align: right;
  width: remcalc(106);

  &::before {
    content: "Off";
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    position: absolute;
    right: 14px;
    top: 13px;
  }

  &::after {
    background-color: #FFFFFF;
    border-radius: var(--border-radius);
    content: "";
    height: remcalc(46);
    left: 3px;
    position: absolute;
    top: 3px;
    width: remcalc(46);
  }
}

.input {
  display: none;

  &:checked {
    & + .label {
      background: var(--background-confirmed);
      border: var(--border-confirmed);
      color: #FFFFFF;
      padding: remcalc(12 0 12 12);
      text-align: left;

      &::before {
        content: "On";
        left: 14px;
        right: auto;
      }

      &::after {
        left: auto;
        right: 3px;
      }
    }
  }
}
