{
  "extends": "semistandard",
  "rules": {
    "space-before-function-paren": [2, "never"],
    "object-curly-newline": ["error", {
      "minProperties": 1
    }],
    "sort-vars": ["error", {
      "ignoreCase": true
    }]
  }
}
