/*
 * based on
 * https://github.com/kristoferjoseph/flexboxgrid/blob/master/dist/flexboxgrid.css
 */

~sizes: "../../shared/constants.js";
~breakpoints: "../../shared/constants.js";

:root {
  --outer-margin: ~sizes.outerMargin;
  --container-sm: ~sizes.containerSm;
}


@custom-media --sm-viewport ~breakpoints.sm;
@custom-media --md-viewport ~breakpoints.md;
@custom-media --lg-viewport ~breakpoints.lg;


.container-fluid, .container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: var(--outer-margin);
  padding-left: var(--outer-margin);
}

.container {
  @media (--sm-viewport) {
    width: var(--container-sm, 46rem);
  }

  @media (--md-viewport) {
    width: var(--container-md, 61rem);
  }

  @media (--lg-viewport) {
    width: var(--container-lg, 71rem);
  }
}
