@import "../../shared/mixins.css";

~boxes: "../../shared/constants.js";
~colors: "../../shared/constants.js";

:root {
  --border-checked: ~boxes.border.checked;
  --border-unchecked: ~boxes.border.unchecked;
  --border-radius: remcalc(~boxes.borderRadius);
  --bottom-shaddow: ~boxes.bottomShaddow;
}

.paginatation_list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination_item {
  align-items: center;
  cursor: pointer;
  display: flex;
  float: left;
  height: 50px;
  justify-content: center;
  margin-right: 10px;
  min-width: 50px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;

  @add-mixin create-base-box-properties;

  &:last-child {
    margin-right: inherit;
  }

  &:not( .active ):hover {
    border: var(--border-checked);
  }

  & a:hover {
    text-decoration: none;
  }

  &.active {
    cursor: default;
  }
}
