.overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.modal {
  background: white;
  display: block;
  left: 50%;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.close {
  background-color: #FFFFFF;
  border: solid 1px #D8D8D8;
  border-radius: 4px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.05);
  color: black;
  cursor: #000000;
  font-size: 20px;
  padding: 0 10px;
  position: absolute;
  right: -20px;
  text-align: center;
  text-decoration: none;
  top: -15px;
}

.trigger {
  cursor: pointer;
  display: inline-block;
  outline: none;
}
