@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Franklin'), local('LibreFranklin-Regular'),
    url(../fonts/libre-franklin/libre-franklin-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 500;
  src: local('Libre Franklin Medium'), local('LibreFranklin-Medium'),
    url(../fonts/libre-franklin/libre-franklin-medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 600;
  src: local('Libre Franklin SemiBold'), local('LibreFranklin-SemiBold'),
    url(../fonts/libre-franklin/libre-franklin-semibold.ttf) format('truetype');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  src: local('Libre Franklin Bold'), local('LibreFranklin-Bold'),
    url(../fonts/libre-franklin/libre-franklin-bold.ttf) format('truetype');
}
