@import "../../shared/mixins.css";

~boxes: "../../shared/constants.js";
~colors: "../../shared/constants.js";

:root {
  --border-unchecked: ~boxes.border.unchecked;
  --border-radius: remcalc(~boxes.borderRadius);
  --bottom-shaddow: ~boxes.bottomShaddow;
}

.tab {
  display: inline;

  & .label {
    background: #F2F2F2;
    border: var(--border-unchecked);
    color: #646464;
    display: inline-block;
    font-size: remcalc(20);
    left: 1px;
    margin-left: -1px;
    padding: remcalc(10);
    position: relative;
    vertical-align: bottom;
  }

  & .panel {
    display: inline-block;
    height: 0;
    overflow: hidden;
    position: relative;
    width: 0;
  }

  & .radio_input {
    clip: rect(0 0 0 0);
    height: 1px;
    opacity: 0;
    width: 1px;

    @add-mixin move-z -1, fixed;

    &:checked {
      & + .label {
        background: white;
        border-bottom-width: 0;
        padding-bottom: remcalc(11);

        @add-mixin move-z 1;
      }

      & ~ .panel {
        display: inline;
      }
    }
  }

  & .content {
    background: #FAFAFA;
    border: var(--border-unchecked);
    box-sizing: border-box;
    display: block;
    float: left;
    font-size: remcalc(16);
    margin-top: remcalc(-9);
    padding: remcalc(0 20);
    width: 100%;
  }
}
