.tab {
  float: left;

  & .label {
    cursor: pointer;
    background: #F2F2F2;
    border: 1px solid #D8D8D8;
    color: #646464;
    position: relative;
    height: 55px;
    padding: 14px 25px;
    margin-right: 5px;
    z-index: 0;
  }

  & .input[type=radio] {
    visibility: hidden;
    display: none;
  }

  & .content {
    border-color: #D8D8D8;
    border-style: solid;
    border-width: 1px 0 0 0;
    background: #FAFAFA;
    position: absolute;
    display: none;
    top: 54px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  & .input[type=radio]:checked ~ .label {
    background: #FAFAFA;
    border-bottom: 1px solid #FAFAFA;
    z-index: 1;
  }

  & .input[type=radio]:checked ~ .label ~ .content {
    display: block;
  }
}
