@import '../../util/mixins.css';

.tab {
  display: inline;

  & .label {
    background: #F2F2F2;
    border: 1px solid #D8D8D8;
    color: #646464;
    display: inline-block;
    font-size: remCalc(20);
    left: 1px;
    margin-left: -1px;
    padding: remCalc(10);
    position: relative;
    vertical-align: bottom;
  }

  & .input[type="radio"] {
    clip: rect(0 0 0 0);
    height: 1px;
    opacity: 0;
    width: 1px;
    @add-mixin move-z -1, fixed;
  }

  & .panel {
    display: inline;
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: 0;
    width: 0;
  }

  & .content {
    box-sizing: border-box;
    display: block;
    background: white;
    padding: remCalc(0 20);
    border: 1px solid #D8D8D8;
    background: #FAFAFA;
    float: left;
    font-size: remCalc(16);
    margin-top: remCalc(-9);
    width: 100%;
  }

  & .input[type="radio"]:checked + .label {
    background: white;
    border-bottom-width: 0;
    padding-bottom: remCalc(11);
    @add-mixin move-z 1;
  }

  & .input[type="radio"]:checked ~ .panel {
    display: inline;
  }
}
