@import '../../shared/mixins.css';

~colors: "../../shared/constants.js";
~boxes: "../../shared/constants.js";

:root {
  --primary-background: ~colors.brandPrimary;
  --box-shaddow: ~boxes.bottomShaddow;
  --box-border: ~boxes.border.unchecked;
  --box-radius: ~boxes.borderRadius;
}

.input[type="range"] {
  border: none;
  box-shadow:none;
  margin: remCalc(10 0);
  width: 100%;
  -webkit-appearance: none;

  // Try and figure out why display none is being set in doc.css
  display: block;
  visibility: visible;

  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    animate: 0.2s;
    background: var(--primary-background);
    cursor: pointer;
    height: remCalc(6);
    width: 100%;

    @add-mixin create-base-box-properties remCalc(25), var(--box-border), var(--box-shaddow);
  }
  &::-webkit-slider-thumb {
    background: #ffffff;

    cursor: pointer;
    display: inline-block;
    height: remCalc(24);
    position: relative;
    top: -10px;
    width: remCalc(36);
    -webkit-appearance: none;

    @add-mixin create-base-box-properties var(--box-radius), var(--box-border), var(--box-shaddow);
  }
  &:focus::-webkit-slider-runnable-track {
    background: var(--primary-background);
  }
  &::-moz-range-track {
    animate: 0.2s;
    background: var(--primary-background);
    cursor: pointer;
    height: remCalc(6);
    width: 100%;

    @add-mixin create-base-box-properties remCalc(25), var(--box-border), var(--box-shaddow);
  }
  &::-moz-range-thumb {
    background: #65001c;
    cursor: pointer;
    height: remCalc(24);
    width: remCalc(39);

    @add-mixin create-base-box-properties 7px, 0px solid #000000, var(--box-shaddow);
  }
  &::-ms-track {
    animate: 0.2s;
    background: transparent;
    borded: transparent;
    border-width: remCalc(39 0);
    color: transparent;
    cursor: pointer;
    height: remCalc(6);
    width: 100%;
  }
  &::-ms-fill-lower {
    background: var(--primary-background);

    @add-mixin create-base-box-properties remCalc(50), var(--box-border), var(--box-shaddow);
  }
  &::-ms-fill-upper {
    background: #e6e6e6;

    @add-mixin create-base-box-properties remCalc(50), var(--box-border), var(--box-shaddow);
  }
  &::-ms-thumb {
    background: #65001c;
    cursor: pointer;
    height: remCalc(20);
    width: remCalc(39);

    @add-mixin create-base-box-properties 7px, var(--box-border), var(--box-shaddow);
  }
  &:focus::-ms-fill-lower {
    background: var(--primary-background);
  }
  &:focus::-ms-fill-upper {
    background: #e6e6e6;
  }
}
