@import "../../shared/mixins.css";

~colors: "../../shared/constants.js";
~boxes: "../../shared/constants.js";

:root {
  --primary-background: ~colors.brandPrimary;
  --box-shaddow: ~boxes.bottomShaddow;
  --box-border: ~boxes.border.unchecked;
  --box-radius: ~boxes.borderRadius;
}

/*
  MIXINS - Defining Mixins for slider
*/
@define-mixin range-track {
  background: var(--primary-background);
  cursor: pointer;
  height: remcalc(6);
  width: 100%;

  @add-mixin create-base-box-properties remcalc(25);
}

@define-mixin range-thumb {
  -webkit-appearance: none;
  background: #FFFFFF;
  cursor: pointer;
  height: remcalc(24);
  position: relative;
  top: -10px;
  width: remcalc(36);

  @add-mixin create-base-box-properties;
}

@define-mixin range-lower {
  background: var(--primary-background);
  height: 6px;

  @add-mixin create-base-box-properties remcalc(50), none;
}

@define-mixin range-upper {
  background: #E6E6E6;
  height: 6px;

  @add-mixin create-base-box-properties remcalc(50);
}

/*
  SELECTORS - Styleing variou psuedo selectos

  TODO: Complied incorrectly when selectors are in a comma seperated list
*/
.range_input {
  -webkit-appearance: none;
  border: none;
  box-shadow: none;
  display: block; /* Try and figure out why display none is being set in doc.css */
  margin: remcalc(10 0);
  visibility: visible;
  width: 100%;

  &::-moz-focus-outer {
    border: 0;
  }

  &::-moz-range-track {
    @add-mixin range-track;
  }

  &::-ms-track {
    @add-mixin range-track;
  }

  &::-webkit-slider-runnable-track {
    @add-mixin range-track;
  }

  &::-moz-range-thumb {
    @add-mixin range-thumb;
  }

  &::-ms-thumb {
    @add-mixin range-thumb;
  }

  &::-webkit-slider-thumb {
    @add-mixin range-thumb;
  }

  &::-moz-range-progress {
    @add-mixin range-lower;
  }

  &::-ms-fill-lower {
    @add-mixin range-lower;
  }

  &::-ms-fill-upper {
    @add-mixin range-upper;
  }

  &:focus {
    outline: none;
  }

  &:focus::-webkit-slider-runnable-track {
    background: var(--primary-background);
  }

  &:focus::-ms-fill-lower {
    @add-mixin range-lower;
  }

  &:focus::-ms-fill-upper {
    @add-mixin range-upper;
  }
}
