~colors: "../../shared/constants.js";

@define-mixin block-decoration $background, $color {
  background-color: $background;
  border: solid 1px $color;
}

@define-mixin icon-decoration $background, $color {
  background: $background;
  color: $color;
}

.notification {
  border-radius: 4px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.05);
  display: inline-block;
  height: 100%;

  &__warning {
    @add-mixin block-decoration ~colors.warningLight, ~colors.warning;
  }

  &__alert {
    @add-mixin block-decoration ~colors.alertLight, red;
  }

  &__content {
    float: left;
    padding: remcalc(20);
  }

  &__icon {
    display: inline-block;
    float: left;
    height: 100%;
    min-height: 100%;
    padding: remcalc(15);
    text-align: center;

    & svg {
      position: relative;
      top: 50%;
      transform: translateY(-100%);
    }

    &--warning {
      @add-mixin icon-decoration ~colors.warning, white;
    }

    &--alert {
      @add-mixin icon-decoration ~colors.alert, white;
    }
  }
}
