{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended",
    "xo-space/esnext",
    "prettier",
    "prettier/flowtype"
  ],
  "plugins": [
    "flowtype",
    "flowtype-errors",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "useTabs": false,
      "printWidth": 80,
      "tabWidth": 2,
      "singleQuote": true,
      "trailingComma": "none",
      "bracketSpacing": true,
      "jsxBracketSameLine": false,
      "semi": true
    }]
  },
  "env": {
    "es6": true,
    "node": true
  }
}