@value brand-primary from "./colors.css";

:root {
  --link-color: brand-primary;
  --link-decoration: none;
  --link-hover-color: darken(var(--link-color), 15%);
  --link-hover-decoration: underline;
}

@value link-color: var(--link-color);
@value link-decoration: var(--link-decoration);
@value link-hover-color: var(--link-hover-color);
@value link-hover-decoration: var(--link-hover-decoration);
