@value gray-light from "./colors.css";

:root {
  --dt-font-weight: bold;
  --text-muted: gray-light;
  --abbr-border-color: gray-light;
}

@value dt-font-weight: var(--dt-font-weight);
@value text-muted: var(--text-muted);
@value abbr-border-color: var(--abbr-border-color);
