@import '../../util/mixins.css';

:root {
  --radio-radius: 20px;
  --radio-border-size: calc( var(--radio-radius) / 4 );
  --dot-color: #646464;
  --border-color: #cfd1d1;
}

.radio {
  cursor: pointer;

  label {
    display: block;
  }

  & span {
    margin-left: remCalc(30);
    margin-right: remCalc(20);

    @add-mixin pseduo-element before, var(--radio-radius), var(--radio-radius), -1px, auto, auto, -30px {
      border: var(--radio-border-size) solid white;
      border-radius: 50%;
      box-shadow: 0 0 0 1px var(--border-color);
    }
  }

  & input[type="radio"] {
    display: none;
    visibility: hidden;

    &:checked ~ span:before {
      background: var(--dot-color);
    }
  }
}
