:root {
  --radio-radius: 20px;
  --radio-border-size: calc( var(--radio-radius) / 4 );
  --dot-color: #646464;
  --border-color: #cfd1d1;
}

.radio {
  cursor: pointer;

  label {
    display: block;
  }

  & span {
    margin-left: 30px;
    margin-right: 20px;
    position: relative;

    &:before {
      content: '';
      border : var(--radio-border-size) solid white;
      border-radius: 50%;
      box-shadow: 0 0 0 1px var(--border-color);
      display: inline-block;
      height: var(--radio-radius);
      left: -30px;
      position: absolute;
      top: -1px;
      width: var(--radio-radius);
    }
  }

  & input[type="radio"] {
    display: none;
    visibility: hidden;


    &:checked {
      & ~ span:before {
        background: var(--dot-color);
      }
    }
  }
}
