.group {
  & .item {
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.05);
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 25px;

    &:last-child {
      margin-bottom: initial;
    }

    &.checked {
      border: 1px solid #1D35BC;
    }

    &.disabled {
      cursor: default;
    }
  }
}
