~boxes: "../../shared/constants.js";
~colors: "../../shared/constants.js";

:root {
   --border-checked: ~boxes.border.checked;
   --border-unchecked: ~boxes.border.unchecked;
   --border-radius: ~boxes.borderRadius;
   --bottom-shaddow: ~boxes.bottomShaddow;
}

.group {
  & .item {
    cursor: pointer;
    background: #FFFFFF;
    border: var(--border-unchecked);
    box-shadow: var(--bottom-shaddow);
    border-radius: 4pxvar(--border-radius);
    margin-bottom: remCalc(15);
    padding: remCalc(25);

    &:last-child {
      margin-bottom: initial;
    }

    &.checked {
      border: var(--border-checked);
      box-shadow: var(--bottom-shaddow);
    }

    &.disabled {
      cursor: default;
    }
  }
}
