.select {
  composes: input from "../input/style.css";

  /* select[multiple] is valid CSS syntax - not added to lint library yet */
  /* stylelint-disable */
  &[multiple] {
  /* stylelint-enable */
    padding-left: 0;
    padding-right: 0;

    & :global option {
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
    }

    /*  this doesn't seem to work, research further
    &:-internal-list-box :global option:checked,
    & :global option:checked {
    background-color: white;
    }
    */
  }
}

.label {
  composes: label from "../input/style.css";
}
