{
  "presets": [
    "react",
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      }
    }]
  ],
  "plugins": [
    ["inline-react-svg", {
      "ignorePattern": "libre-franklin"
    }],
    "transform-class-properties",
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }],
    ["transform-react-jsx", {
      "useBuiltIns": true
    }],
    "transform-exponentiation-operator"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        "transform-react-jsx-self"
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ],
      "plugins": [
        ["babel-plugin-webpack-alias", {
          "config": "${CONFIG}"
        }]
      ]
    },
    "production": {
      "plugins": [
        // "transform-react-constant-elements" enable when #5325 is fixed
      ]
    }
  }
}
