{
  "presets": [
    ["env", {
      "spec": true,
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"],
        "node": 6
      }
    }]
  ],
  "plugins": [
    "babel-plugin-transform-flow-strip-types",
    "external-helpers"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
