{
  "sourceMaps": "both",
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      }
    }]
  ],
  "plugins": [
    ["inline-react-svg", {
      "ignorePattern": "assets\\/fonts\\/.*?\\.svg"
    }],
    "transform-es2015-modules-commonjs",
    "transform-class-properties",
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }],
    ["transform-react-jsx", {
      "useBuiltIns": true
    }],
    "transform-exponentiation-operator"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        "transform-react-jsx-self"
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements"
      ]
    }
  }
}
