.avatar {
  border-radius: 50%;
  height: remcalc(50);
  overflow: hidden;
  position: relative;
  text-align: center;
  width: remcalc(50);
}

.letter {
  font-size: 2rem;
}

.picture {
  composes: verticle_align_center from "../../shared/composers.css";
  max-width: 60%;
}
