@import "../../shared/mixins.css";

~boxes: "../../shared/constants.js";
~colors: "../../shared/constants.js";

:root {
  --background-color: ~colors.background;
  --border-color: ~colors.border;
  --border-selected-color: ~colors.borderSelected;
  --border-radius: remcalc(~boxes.borderRadius);
  --inset-box-shadow: ~boxes.insetShaddow;
}

.input {
  background: var(--background-color);
  display: block;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  visibility: visible;
  width: 100%;

  @add-mixin create-base-box-properties;

  &:focus {
    border-color: var(--border-selected-color);
    outline: none;
  }
}

.label {
  color: #464646;
}
