~boxes: "../../shared/constants.js";
~colors: "../../shared/constants.js";

:root {
  --background-color: ~colors.background;
  --border-color: ~colors.border;
  --border-selected-color: ~colors.borderSelected;
  --border-radius: remCalc(~boxes.borderRadius);
  --inset-box-shadow: ~boxes.insetShaddow;
}

.input {
  background: var(--background-color);
  border: 1px solid var(--border-color);
  box-shadow: var(--inset-box-shadow);
  border-radius: var(--border-radius);
  height: 50px;
  width: 100%;
  display: block;
  visibility: visible;
  padding-left: 15px;
  padding-right: 15px;

  &:focus {
    border-color: var(--border-selected-color);
    outline: none;
  }
}

.label {
  color: #464646;
}